.pupup__about {
    width: 358px;
    height: 27px;
    margin-top: 30px;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .pupup__about {
        max-width: 238px;
    }
}